{% extends "interview/base.html" %}
{% load crispy_forms_tags %}
{% block login %}
    <div class="container">
        <div class="row>">
            <!--<div class="col-xs-4"></div>-->
                <div class="col-xs-4 col-xs-offset-4">
    <!--<div class="large-offset-3 large-6 columns">-->
                {% if success_registration %}
                    <h2>{{ success_registration }}</h2>
                {% endif %}
                <form action="/auth/login/" method="post">
                    {% csrf_token %}
                    <!--<div class="form-group">-->
                        <!--<label for="username">Имя пользователя</label>-->
                        <!--<input type="text" name="username" id="username" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="userpass">Пароль</label>-->
                        <!--<input type="password" name="userpass" id="userpass" />-->
                    <!--</div>-->
                    {{ form|crispy }}

                    {% if login_error %}
                        <div class="alert alert-danger">{{ login_error }}</div>
                    {% endif %}

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Войти" />
                        <div class="btn btn-info btn-sm pull-right"><a href="/auth/register">Регистрация</a></div>
                    </div>
                </form>
                <br /><br />
                <!--<a class="btn btn-success" href="/interview/">Перейти к списку опросов</a>-->
            </div>
        </div>
    </div>
    <!--</div>-->
{% endblock %}