{% extends "interview/base.html" %}
{% load crispy_forms_tags %}

{% block title%}
{% endblock title%}

{% block content %}
    <!--<div class="class large-offset-3 large-6 columns">-->
    <div class="container">
        <div class="row">
            <!--<div class="col-xs-4"></div>-->
            <div class="col-xs-4 col-xs-offset-4">
                <form class="form-signup" action="" method="post">{% csrf_token %}
                <h2>Регистрация</h2>
                {{ form|crispy }}

                <!--<div class="fieldWrapper">-->
                    <!--<label>E-mail</label>-->
                    <!--{{ form.email.errors }}-->
                    <!--{{ form.email }}-->
                <!--</div>-->
                <!--<div class="fieldWrapper">-->
                    <!--<label>Имя пользователя</label>-->
                    <!--{{form.username.errors}}-->
                    <!--{{ form.username }}-->
                <!--</div>-->
                <!--<div class="fieldWrapper">-->
                    <!--<label>Пароль</label>-->
                    <!--{{form.password1.errors}}-->
                    <!--{{ form.password1 }}-->
                <!--</div>-->
                <!--<div class="fieldWrapper">-->
                    <!--<label>Пароль ещё раз</label>-->
                    <!--{{form.password2.errors}}-->
                    <!--{{ form.password2 }}-->
                <!--</div>-->


                <input class="btn btn-primary btn-block" name="submit" type="submit" value="Зарегистрироваться" />
                </form>
                <br />
                <br />
                <!--<a class="btn btn-success" href="/interview/">Перейти к списку опросов</a>-->
                <div class="cap"></div>
            </div>
        </div>
    </div>
{% endblock content %}