.descr-elem {
    color: blue;
}

.em-margin {
    margin: auto 50px;
}
.errorlist li {
    font-weight: 900;
    background-color: #fd8686;
}

h2 {
    text-align: center;
    color: #354c6f;
    //text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.table_col {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 100%;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
}
.table_col th:first-child, .table_col td:first-child {
    color: #3e4b4b;
    border-left: none;
}
.table_col th {
    font-weight: normal;
    border-bottom: 2px solid #F5E1A6;
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 8px 10px;
}
.table_col td {
    border-right: 20px solid white;
    border-left: 20px solid white;
    padding: 12px 10px;
    color: #8b8e91;
}

.interview-elems {
    background: white;
    text-align: left;
    border-collapse: collapse;
}

.interview-elems td {
    vertical-align: center;
}

.clarification {
    font-size: 0.55em;
}

.elems-table th {
    background-color: #eff0b2 /*8bc4ff*/;
}

.container-border {
    border: 1px solid #e9e9e9;
}

#footer {
    margin-top: 10px;
    height: 30px;
}

.header-box {
    display: table;
    height: 120px;
}

.header-text {
    display: table-cell;
    vertical-align: middle;
}

.header-img {
    height: 120px;
}

.h1-header {
    color: #bf0b0b;
    text-shadow: 0 0 2px rgba(155,0,0,0.3);
}

.cap {
    display: block;
    height: 150px;
}

.form-panel{
    border: 2px solid #a34789;
}