{% extends "interview/base.html" %}
    {% block title %}
        <h3> {{ title }} </h3>
        <p><h2>"{{ descr }}"</h2></p><br />
    {% endblock %}
{% block content %}
{% if resps %}
    <div class="large-offset-1 large-12 columns">
    <table class="table_col">
        <colgroup>
            <col style="background:#C7DAF0;">
        </colgroup>
        <tr>
            <th>user_id</th>
            {% for quest in questions %}
                <th>{{ quest }}</th>
            {% endfor %}
        </tr>
        {% for resp in resps %}
            <tr>
                <td>{{ resp.0 }}</td>
                {% for item in resp.1 %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% else %}
    <h3>Пока никто не проходил этот опрос</h3>
{% endif %}
<br />
<a href="/interview/"><span class="btn btn-success">К списку опросов</span></a>
<br />
{{ tmp }}
{% endblock %}