{% extends "interview/base.html" %}

{% block alert %}
    {% if not interviews %}
        <div class="container">
            <div class="row">
                <div class="alert alert-warning" role="alert">Извините, но пока нет ни одного опроса.</div>
            </div>
        </div>
    {% endif %}
{% endblock alert %}

{% block title %} <h2>{{ title }}</h2> {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--<div class="col-xs-12">-->
            {% if interviews %}
                {% for inter in interviews%}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <!-- Проверим есть ли полномочия для изменения или просмотра результатов опросов-->
                            {% if 'interview.add_interview' in perms %}
                            <div class="dropdown pull-right">
                                <button class="btn btn-info dropdown-toggle" type="button"
                                        data-toggle="dropdown">Выбрать действие<span class="carret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'edit_interview' inter.id %}">Редактировать</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'interview_results' inter.id %}">Результаты</a></li>
                                </ul>
			  			    </div>
                            {% endif %}
                            <h3>
                                <a href="{% url 'pass_interview' inter.id %}">{{ inter.description }}</a>
                                {% if request.user.is_anonymous %}
                                    {% if inter.access == '1' %}<span class="small bg-warning"> - (требуется регистрация)</span>{% endif %}
                                {% endif %}
                            </h3>
                            <p>{{ inter.create_date|date:"d F Y" }}</p>
                            <p>{{ inter.wide_description }}</p>

                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        <!--</div>-->
    </div>
    <div class="row">
        {% if 'interview.add_interview' in perms %}
             <a href="{% url 'add_interview' %}"><button type="button" class="btn btn-success btn-block btn-lg">Создать новый опрос</button></a>
        {% endif %}
    </div>
</div>
{% endblock %}