{% extends "interview/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
<br />
<a href="/interview/"><span class="btn btn-success">К списку опросов</span></a>
<br />
    <h2>{{ title }} </h2>
{% endblock %}
{% block content %}

<!--<div class="large-offset-3 large-6 columns">-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post" name="interview">
                {% csrf_token %}
                {{ form|crispy }}
                <p class="right"><input class="button" type="submit" value="Подтвердить"></p>
            </form>
            {% if 'interview.add_interview' in perms %}
                <p class="left"><a href="{% url 'edit_interview' interview_id %}"><span class="label">Внести изменения</span></a></p>
            {% endif %}
        </div>
    </div>
</div>
<!--</div>-->
{% endblock %}